.container1{
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 3px solid rgb(159, 219, 159);
    height:800px;

  
}


.jumbotron{
    text-align: center;
}
nav li:hover{
    transform: scale(2,3);

}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;

    
  
}

.col-6 ul {
    list-style-type: none;
    
}

.card img{
    height:200px;
    width:100%
}


.container3{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid rgb(126, 94, 200);
    height:500px;
  
}

.container4{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid rgb(78, 202, 78);
    height:200px;
  
}

img{
    width: 300px;
    height: 300px;
    transition-property: color, background-color,transform;
    transition-duration: 4s;
    transition-delay:0;
}

img:hover{
    background-color: rgb(0, 0, 0);
    color:black;
    transform: scale(1,2);
}

.drop{
    transition-property: color, background-color,transform;
    transition-duration: 4s;
    transition-delay:0;
}


nav li:hover{
    transform: scale(2,3);

}

ul.submenu{
    display:none;
}

.yes:hover+ul.submenu,ul.submenu:hover{
    display:block;
}

/* media query */
/* width covers 0-480 pixels---phone */
@media screen and (max-width: 480px) {
    body {
      background-color:white(255, 255, 255);
     } 

   }

/* Width Covers 481px-768px */
@media screen and (min-width: 768px) {
    .jumbotron {
        padding-right: -40px;
    }
    body {
    background-color: rgb(226, 138, 138);
    color: rgb(0, 0, 0);
}

}

/* Width Covers 769px-1025px (and greater) */
@media screen and (min-width: 1025px) {
  body {
    background-color: rgb(49, 44, 44);
    color: rgb(197, 49, 81);
  }
}
