.container1{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid green;
  
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid green;
  
}

.container3{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid green;
  
}

.container4{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid green;
  
}

img{
    width: 300px;
    height: 300px;
}